<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <title>ReceptionChat</title>
      <link rel ='stylesheet' type='text/css' href='stylesheets/style.css'>
   </head>
   <body>
      <ul class="tab">
         <li class="select">受付</li>
         <li id="type_check">腰痛タイプチェック</li>
         <li id="chat_theapist">専門家とチャット</li>
         <li id="recommend_clinic">優良治療院紹介</li>
         <li id="log">今までの会話のログ</li>
      </ul>
      <ul class="content">
         <li id="reception">
            <h2>受付</h2>
            <h3> Your Nmae: <%= Name %> </h3>
            <form id="to_home" method="GET" action="/ToHome">
               <input type="submit" value="Homeへ">
            </form>
            <form id="Finish" method="GET" action="/ToHome">
               <!-- <input type="submit" value="会話を終わらせる" onclick='return confirm("会話がリセットされます。リセットされた会話は、ログで見ることができます。よろしいですか？");'>　-->
               <input type="submit" value="会話を終わらせる" onclick=closeConversation()>
            </form>
            <!-- 書き込んだことを表示する　-->
            <ul id="logs"></ul>

            <!-- このページのインフォメーション -->
            <form id="page_info">
               <input type="text" id="name" value="<%= Name %>" hidden>
               <input type="text" id="room" value="<%= Room %>" hidden>
            </form>
         </li>
         <li id="type_check" class="hide">
            <h2>腰痛タイプチェック</h2>
            <form>
               <p>Q1.現在感じている腰痛に関して、該当する回答にチェックして下さい。</p>
               <p><input type="checkbox" name="riyu" value="1">現在の腰痛の発症年齢は、20歳未満もしくは、55歳を超えている。</p>
               <p><input type="checkbox" name="riyu" value="2">最近の激しい外傷歴（転倒や交通事故など）がある。</p>
               <p><input type="checkbox" name="riyu" value="3">絶え間ない痛みが続く（楽な姿勢がなく、夜や安静時も痛む）。</p>
               <p><input type="checkbox" name="riyu" value="4">胸の痛みがある。</p>
               <p><input type="checkbox" name="riyu" value="5">悪性腫瘍（ガン）の病歴がある。</p>
               <p><input type="checkbox" name="riyu" value="6">長期間、副腎皮質ホルモン（ステロイド剤）を使用している。</p>
               <p><input type="checkbox" name="riyu" value="7">免疫抑制剤の使用歴がある、もしくはHIVが陽性である。</p>
               <p><input type="checkbox" name="riyu" value="8">全般的な体調不良である。</p>
               <p><input type="checkbox" name="riyu" value="9">原因不明の体重減少がある。</p>
               <p><input type="checkbox" name="riyu" value="10">腰痛の痛みが強いため腰が曲がり、体を伸ばせない。</p>
               <p><input type="checkbox" name="riyu" value="11">背中や腰を叩くと、痛みを感じる。</p>
               <p><input type="checkbox" name="riyu" value="12">身体の変形があると、医師等に言われたことがある。</p>
               <p><input type="checkbox" name="riyu" value="13">発熱している。</p>
               <p><input type="checkbox" name="riyu" value="14">尿/便失禁、頻尿、便秘や、陰部/肛門周囲の感覚の異常がある。</p>
               <p><input type="checkbox" name="riyu" value="15">上記のいずれも該当するものはない</p>
               <p><input type="checkbox" name="riyu" value="16">その他</p>

               <p><input type="button"  onclick="finishQuestionnaire()" value="送信する"></p>
            </form>
         </li>
         <li id="chat_theapist" class="hide">
            <h2>専門家とチャット</h2>
         </li>
         <li id="recommend_clinic" class="hide">
            <h2>治療院紹介</h2>
         </li>
         <li id="chat_log" class="hide">
            <h2>今までの会話ログ</h2>
         </li>


      </ul>


      <!-- このページのインフォメーション -->
      <form id="page_info">
         <input type="text" id="name" value="<%= Name %>" hidden>
         <input type="text" id="room" value="<%= Room %>" hidden>
      </form>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type='text/javascript'></script>
      <script src="/socket.io/socket.io.js" type='text/javascript'></script>
      <script src="javascripts/reception_chat.js" type='text/javascript'></script>

      <script>
         $(function() {
            //クリックしたときのファンクションをまとめて指定
            $('.tab li').click(function() {
               //.index()を使いクリックされたタブが何番目かを調べ、
               //indexという変数に代入します。
               var index = $('.tab li').index(this);
               if (activeForm[index]){

                  //コンテンツを一度すべて非表示にし、
                  $('.content').children('li').css('display','none');

                  //クリックされたタブと同じ順番のコンテンツを表示します。
                  $('.content').children('li').eq(index).css('display','block');

                  //一度タブについているクラスselectを消し、
                  $('.tab li').removeClass('select');

                  //クリックされたタブのみにクラスselectをつけます。
                  $(this).addClass('select')
               };
            });
         });
      </script>

   </body>
<html>
